.item-main{
    background-color:#464646;
    width: 370px;
    height: 550px;
    color: #6D6D6E;
    
}
.item-main :hover{
    color: #FEFEFE;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;

}
.item a{
    color: #6D6D6E;
}

.item1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FEFEFE;
}